<!DOCTYPE html lang="en">
<html>
<head>
  <title>Wendy Walk</title>
  <!-- Bootstrap -->
  <link href="../assets/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/assets/site.css" rel="stylesheet" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="jumbotron">
    <h1>Find a Center</h1>
    <%= form_tag mapresults_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], :class => 'form-control' %>
      <br>
      <%= submit_tag "Search", :state => nil, :class => 'btn btn-default' %>
    </p>
    <% end %>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
</body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../assets/bootstrap.min.js"></script>
</html>