<!DOCTYPE html lang="en">
<html>
<head>
  <title>Wendy Walk</title>
  <!-- Bootstrap -->
  <link href="../assets/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/assets/site.css" rel="stylesheet" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
</head>
<body>
  <nav class="navbar-default header" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <img src="/assets/logo.gif" />
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="navbar navbar-nav mainmenu">
            <li><a  href="http://wendywalk.org/about/">About</a></li>
            <li><a style="color: #FFFFFF;" href="http://wendywalk.org/press/">Press</a></li>
            <li><a style="color: #FFFFFF;" href="http://wendywalk.org/stories/">Stories</a></li>
            <li><a style="color: #FFFFFF;" href="http://wendywalk.org/events/">Events</a></li>
            <li><a style="color: #FFFFFF;" href="http://wendywalk.org/photos/">Photos</a></li>
            <li><a style="color: #FFFFFF;" href="http://wendywalk.org/videos/">Videos</a></li>
            <li><a style="color: #FFFFFF;" class="donate" href="http://wendywalk.org/donate/">DONATE</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 map">
          <h1>Find a center</h1>
            <form>
              <input class="location" type="search" name="center" placeholder="California, etc...">
              <button class="find">Search</button>
            </form>
          <div id="map-canvas"></div>
        </div>
      </div>
      <div class="row footer">
        <div class="col-md-6">
          <ul class="socialmenu">
            <li><a href="https://www.facebook.com/TheWendyWalk"><img src="/assets/facebook.gif" /></a></li>
            <li><a href="http://flickr.com/"><img src="/assets/flickr.gif" /></a></li>
            <li><a href="https://twitter.com/TheWendyWalk"><img src="/assets/twitter.gif"></a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <p><img src="/assets/shoe.gif" /> &copy; Copyright 2014 Wendy Walk</p>
        </div>
      </div>
    </div>
  </body>

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="../assets/bootstrap.min.js"></script>

    <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=#{ENV['API_KEY']}&sensor=TRUE">
  </script>

<<<<<<< HEAD


        <script>


var map;

=======
    <script>
  var cities = {
    '1': [ 32.276813, -110.943381],
    '2': [ 34.074943, -118.380349],
    '3': [ 34.097962, -118.290998],
    '4': [ 34.129634, -117.970767],
    '5': [ 34.040214, -118.474556],
    '6': [ 37.439207, -122.175618],
    '7': [ 38.554300, -121.452443],
    '8': [ 34.066082, -118.44184],
    '9': [ 34.061343, -118.204839],
    '10': [ 28.064063, -82.421414],
    '11': [ 29.638744,-82.342135],
    '12': [ 30.264243, -81.440269],
    '13': [ 33.792797, -84.319399],
    '14': [ 33.906634, -84.349415],
    '15': [ 41.894531, -87.622345],
    '16': [ 41.659562, -91.548367],
    '17': [ 38.932677, -94.650888],
    '18': [ 39.295148, -76.593933],
    '19': [ 42.337480, -71.108086],
    '20': [ 42.362639, -71.068202],
    '21': [ 42.283160, -83.730919],
    '22': [ 44.022129,-92.466625],
    '23': [ 44.971819, -93.237421],
    '24': [ 38.635427, -90.263041],
    '25': [ 38.929442, -77.01473],
    '26': [ 43.040895, -88.024887],
    '27': [ 47.626877, -122.329968],
    '28': [ 38.987971, -77.099955],
    '29': [ 40.772565, -111.834343],
    '30': [ 29.695493, -95.399051],
    '31': [ 35.155616, -90.045599],
    '32': [ 36.142100, -86.800678],
    '33': [ 32.784448, -79.946326],
    '34': [ 40.455093, -79.942467],
    '35': [ 39.945639, -75.155753],
    '36': [ 45.497293, -122.686069],
    '37': [ 41.081607, -81.500071],
    '38': [ 39.994994, -83.015179],
    '39': [ 41.502453, -81.621347],
    '40': [ 36.004904, -78.936454],
    '41': [ 42.958341, -78.726264],
    '42': [ 40.790058, -73.953860],
    '43': [ 40.762105, -73.957218],
    '44': [ 40.841097, -73.941197]
 };     
>>>>>>> f840c7965c2077723a07280df18f0a141f00695a
function initialize() {
  var mapOptions = {
    zoom: 6
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

     var cities = {
   'Groningen':  [ 53.216723950863425, 6.560211181640625, 7],
    'cali': [37.8,-122.4],
    'zoo': [32.7,-117.1],
    'New York City': [ 40.7143528, -74.0059731, 3],
    'Atlanta': [33.792797,-84.319399]

 }; 

  // HTML5 geolocation
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(p) {
      var pos = new google.maps.LatLng(p.coords.latitude,
       p.coords.longitude);

      var infowindow = new google.maps.InfoWindow({
        map: map,
        position: pos,
        content: 'Location found using HTML5.'
      });
        map.setCenter(pos);
      }, 


      function() {
        handleNoGeolocation(true);
      });

          for (var key in cities) {
        var data = cities[key];
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng (data[0], data[1]),
          map: map,
        });}


  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);

}

google.maps.event.addDomListener(window, 'load', initialize);


    </script>
  
  </html>