html {
	height: 100%
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	height: 100%;
	margin: 0;
	padding: 0 
}

.header {
	background: #00B3BB;
	height: 105px;
	border-bottom: 5px solid #009299;
	line-height: 95px;
}

.navbar{
	background: #00B3BB;
}

.navbar-nav li a {
 line-height: 95px;
}

.mainmenu  li {
	padding: 0 15px;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
	color: #FFFFFF;
}

a.donate, .navbar-default .navbar-nav > li > a.donate:hover {
	height: 50px;
	width: 120px;
	padding: 20px 30px;
	background: #F96D33;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 1px 1px rgba(16,9,25,.46);
	text-decoration: none;
}

.jumbotron {
	background: url(/assets/jumbo-background.gif);
}

.find {
	width: 200px;
	height: 75px;
	background: #F96D33;
	border:none;
	font-size: 24px;
	color: #FFFFFF;
	text-shadow: 1px 1px rgba(16,9,25,.46);
	vertical-align: middle;
}

.location {
	width: 50%;
	height: 75px;
	border: 1px solid #666666;
	vertical-align: middle;
	display: inline;
	color: #999;
	font-size: .9em;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #00B3BB;
    color:#ffffff;
  }

.footer {
	height: 100px;
	background: #01797f;
	line-height: 100px;
	border-top: 15px solid #00B3BB;
	font-weight: bold;
	color: #FFFFFF;
}

.socialmenu li {
	display: inline;
	vertical-align: middle;
}

.map {
	width: 50%;
	height: 500px;
	padding: 0px;
}

#map-canvas {
	overflow: visible;
	height: 100%; 
	width: 100%;
	position: fixed;
}

.centerName {
	font-size: 1.5em;
/*	line-height: 3em;
*/}

.centerName a {
	color: #00B3BB;
}

.centerInfo {
	padding-bottom: 25px;
}

.columnH2 {
	font-size: 2em;
	padding-bottom: 15px;
}

